* {
    box-sizing: border-box;
}

.status {
    background-color:darkred;
    color: lightslategray;
    width: 100%;
}

.filter-menu {
    width: 100%;
    float: left;
    border: 1px;
    padding: 1px;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }

.savedSearchInfo {
    color: darkslategrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.mapDiv {
    bottom:0px;
    height: 100%;
    left: 300px;
    position: absolute;
    right: 0px;
    width: 100%;
    float: left;

  }



  @media only screen and (max-width: 668px) {

    .mapDiv {
        height: 400px;
        position: relative;
        float: left;
        width: 100%;
        left: 0px;
    }

    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }

    .filter-menu {
        width: 100%;
        float: left;
        margin: 10px;
        text-align: left;
    }

    body {
        text-align: center;
        min-width: 317px;
        box-sizing: border-box;
    }

    footer {
        font-size: 1.2em;
        text-align: center;
    }
}
