* {
    box-sizing: border-box;
}

div {
    padding: 6px;
}

.header {
    border: 2px;
    padding: 15px;
}


.filter-menu {
    width: 25%;
    float: left;
    border: 1px;
    padding: 1px;
}
.main {
    width: 75%;
    float: left;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }

#savedSearchInfo {
    background-color: black;
    color: lightslategray;

}




  @media only screen and (max-width: 500px) {

    .flex-container{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .main {
        width: 100%;
        float: left;
    }
    .filter-menu {
        width: 100%;
        float: left;
        margin: 10px;
        text-align: left;
    }



    img {
        max-width: 250px;
    }

    body {
        text-align: center;
        min-width: 317px;
        box-sizing: border-box;
    }


    footer {
        font-size: 1.2em;
        text-align: center;
    }
}
